openapi: 3.1.0
info:
  title: Clover REST API
  description: |
    Best-effort OpenAPI 3.1 description of the Clover v3 REST API. The Clover
    platform exposes merchant-scoped resources for inventory items,
    categories, modifiers and modifier groups, orders, line items, payments,
    refunds, customers, and employees. Authentication uses OAuth 2.0 access
    tokens obtained from the v2 OAuth flow, or merchant-specific API keys
    for single-merchant integrations. Sandbox endpoints live at
    apisandbox.dev.clover.com.
  version: v3
  contact:
    name: Clover Developer Platform
    url: https://docs.clover.com/reference
servers:
  - url: https://api.clover.com/v3
    description: Production
  - url: https://apisandbox.dev.clover.com/v3
    description: Sandbox
security:
  - oauth2: []
paths:
  /merchants/{merchantId}:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: Get merchant
      operationId: getMerchant
      tags: [Merchants]
      responses:
        '200': { description: Merchant details }
  /merchants/{merchantId}/items:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List inventory items
      operationId: listItems
      tags: [Inventory]
      responses:
        '200': { description: List of items }
    post:
      summary: Create inventory item
      operationId: createItem
      tags: [Inventory]
      responses:
        '201': { description: Item created }
  /merchants/{merchantId}/items/{itemId}:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: itemId
        required: true
        schema: { type: string }
    get:
      summary: Get inventory item
      operationId: getItem
      tags: [Inventory]
      responses:
        '200': { description: Item details }
    post:
      summary: Update inventory item
      operationId: updateItem
      tags: [Inventory]
      responses:
        '200': { description: Item updated }
    delete:
      summary: Delete inventory item
      operationId: deleteItem
      tags: [Inventory]
      responses:
        '200': { description: Item deleted }
  /merchants/{merchantId}/categories:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List categories
      operationId: listCategories
      tags: [Inventory]
      responses:
        '200': { description: List of categories }
    post:
      summary: Create category
      operationId: createCategory
      tags: [Inventory]
      responses:
        '201': { description: Category created }
  /merchants/{merchantId}/modifier_groups:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List modifier groups
      operationId: listModifierGroups
      tags: [Inventory]
      responses:
        '200': { description: List of modifier groups }
    post:
      summary: Create modifier group
      operationId: createModifierGroup
      tags: [Inventory]
      responses:
        '201': { description: Modifier group created }
  /merchants/{merchantId}/orders:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List orders
      operationId: listOrders
      tags: [Orders]
      responses:
        '200': { description: List of orders }
    post:
      summary: Create order
      operationId: createOrder
      tags: [Orders]
      responses:
        '201': { description: Order created }
  /merchants/{merchantId}/orders/{orderId}:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: orderId
        required: true
        schema: { type: string }
    get:
      summary: Get order
      operationId: getOrder
      tags: [Orders]
      responses:
        '200': { description: Order details }
    delete:
      summary: Delete order
      operationId: deleteOrder
      tags: [Orders]
      responses:
        '200': { description: Order deleted }
  /merchants/{merchantId}/orders/{orderId}/line_items:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: orderId
        required: true
        schema: { type: string }
    post:
      summary: Add a line item to an order
      operationId: addLineItem
      tags: [Orders]
      responses:
        '201': { description: Line item added }
  /merchants/{merchantId}/orders/{orderId}/pay:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: orderId
        required: true
        schema: { type: string }
    post:
      summary: Pay for an order
      operationId: payOrder
      tags: [Orders]
      responses:
        '200': { description: Payment recorded }
  /merchants/{merchantId}/charges:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List charges
      operationId: listCharges
      tags: [Payments]
      responses:
        '200': { description: List of charges }
    post:
      summary: Create a charge
      operationId: createCharge
      tags: [Payments]
      responses:
        '201': { description: Charge created }
  /merchants/{merchantId}/charges/{chargeId}:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: chargeId
        required: true
        schema: { type: string }
    get:
      summary: Get a charge
      operationId: getCharge
      tags: [Payments]
      responses:
        '200': { description: Charge details }
  /merchants/{merchantId}/refunds:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    post:
      summary: Create a refund
      operationId: createRefund
      tags: [Payments]
      responses:
        '201': { description: Refund created }
  /merchants/{merchantId}/customers:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List customers
      operationId: listCustomers
      tags: [Customers]
      responses:
        '200': { description: List of customers }
    post:
      summary: Create customer
      operationId: createCustomer
      tags: [Customers]
      responses:
        '201': { description: Customer created }
  /merchants/{merchantId}/customers/{customerId}:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: customerId
        required: true
        schema: { type: string }
    get:
      summary: Get customer
      operationId: getCustomer
      tags: [Customers]
      responses:
        '200': { description: Customer details }
  /merchants/{merchantId}/employees:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
    get:
      summary: List employees
      operationId: listEmployees
      tags: [Employees]
      responses:
        '200': { description: List of employees }
    post:
      summary: Create employee
      operationId: createEmployee
      tags: [Employees]
      responses:
        '201': { description: Employee created }
  /merchants/{merchantId}/employees/{employeeId}:
    parameters:
      - $ref: '#/components/parameters/MerchantId'
      - in: path
        name: employeeId
        required: true
        schema: { type: string }
    get:
      summary: Get employee
      operationId: getEmployee
      tags: [Employees]
      responses:
        '200': { description: Employee details }
components:
  parameters:
    MerchantId:
      in: path
      name: merchantId
      required: true
      schema: { type: string }
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.clover.com/oauth/v2/authorize
          tokenUrl: https://api.clover.com/oauth/v2/token
          scopes: {}
